<!DOCTYPE html>

<html>
    <head>
        <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
        <meta content="utf-8" http-equiv="encoding">        
        <title>Login</title>
        <link rel="stylesheet" href="{{url_for('static', filename='css/style-login.css')}}">
        <link rel="shortcut icon" href="Favicon.svg" type="image/x-icon">
        <script src="{{url_for('static', filename='js/script.js')}}"></script>
    </head>
    <body>
        <div class="kotak-luar">
            {% if message %}
                <p style="text-align: center; margin-top:10px;">{{ message }}</p>
            {% endif %}
            <div class="konten">
                <br>
                <h1>Masuk akun</h1>
                <br>
                <form action="{{url_for('login')}}" method="POST">
                    <p class="keterangan">Alamat Surel</p>
                    {{ form.email(placeholder="Alamat Surel") }}
                    {% if form.email.errors %}
                        {% for error in form.email.errors %}
                            {{ error }} <br>
                        {% endfor %}
                    {% endif %}
                    <br>
                    <p class="keterangan">Kata Sandi</p>
                    {{ form.password(placeholder="Alamat Surel") }}
                    {% if form.password.errors %}
                        {% for error in form.password.errors %}
                            {{ error }} <br>
                        {% endfor %}
                    {% endif %}
                    <br><br>
                    {{ form.csrf_token }}
                    {{ form.submit(class_="button") }}
                </form>
                <p id="no-akun">Belum punya akun ? <a id="no-akun-link" href="{{url_for('register')}}">Daftar</a></p>
                <br>
                <hr>
                <div class="footer">
                    <p>Created by : Muhammad Raihan Satrio</p>
                    <span>Background Photo by <a id="link" href="https://unsplash.com/@v2osk?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">v2osk</a> 
                    on <a id="link" href="https://unsplash.com/s/photos/nature?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Unsplash</a></span>
                </div>
            </div>
        </div>
    </body>
</html>